body {
  background: #f9f9f9;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 250px;
}

h2 {
  color: #e74c3c;
}

input {
  width: 80%;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  background: #e74c3c;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #c0392b;
}

#hasil {
  margin-top: 10px;
  font-weight: bold;
}
